.list>h4{
    font-size: var(--font-size-title-3);
    font-weight: var(--font-weight-title-234);
}

.list>h2{
    font-size: var(--font-size-title-2);
    font-weight: var(--font-weight-title-234);
    margin-top: 20px; 
}


.list>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 25px;
}

.card{
    width: 100%;
    height: 88px;
    border-radius: 4px;
    background-color: var(--color-gray-1);
    border-left: 6px solid var(--color-gray-2);
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card>div{
    width: 100%;
    max-width: 330px;
    height: 13px;
    background-color: var(--color-gray-2);
}

.card>div+div{
    width: 76px;
    height: 13px;
    background-color: var(--color-gray-2);
}

@media(min-width:769px){
      .card{
        width: 562px;
    }
}

